# Server configuration
HOST=0.0.0.0

# Application keys
APP_KEYS=["<APP_KEY_1>", "<APP_KEY_2>", "<APP_KEY_3>", "<APP_KEY_4>"]
API_TOKEN_SALT=<API_TOKEN_SALT>
ADMIN_JWT_SECRET=<ADMIN_JWT_SECRET>
JWT_SECRET=<JWT_SECRET>
TRANSFER_TOKEN_SALT=<TRANSFER_TOKEN_SALT>

# Stripe configuration
STRIPE_SECRET_KEY=<STRIPE_SECRET_KEY>
STRIPE_WEBHOOK_SECRET=<STRIPE_WEBHOOK_SECRET>
STRIPE_PUBLISHABLE_KEY=<STRIPE_PUBLISHABLE_KEY>
SUCCESS_URL=<SUCCESS_URL>
CANCEL_URL=<CANCEL_URL>
FAIL_URL=<FAIL_URL>

# CLOUDINARY
CLOUDINARY_NAME=<CLOUDINARY_NAME>
CLOUDINARY_KEY=<CLOUDINARY_KEY>
CLOUDINARY_SECRET=<CLOUDINARY_SECRET>

# Database configuration
DATABASE_CLIENT=postgres
DATABASE_HOST=<DATABASE_HOST>
DATABASE_PORT=5432
DATABASE_NAME=<DATABASE_NAME>
DATABASE_USERNAME=<DATABASE_USERNAME>
DATABASE_PASSWORD=<DATABASE_PASSWORD>
DATABASE_SSL=true
DATABASE_POOL_MIN=2
DATABASE_POOL_MAX=10

# Environment
NODE_ENV=development